/* navbar */
.navbar {
  background-color: #ffffffe7;
  color: black;
}

.logo {
  height: 70px;
  width: auto;
}

.pikachuRunning {
  height: 40px;
  width: auto;
}

.movimiento:hover {
  animation-play-state: paused;
}

.posititonPikachu {
  position: relative;
  overflow: hidden;
  height: 40px;
}

.initialPikachu {
  position: absolute;
  left: 100%;
  animation: move 13s linear 1s infinite;
}

@keyframes move {
  from {
    left: -25%;
  }
  to {
    left: 100%;
  }
}
